body {
  font-family: 'Source Sans Pro', sans-serif;
}

svg {
  fill: currentColor;
}

.bg-gradient {
  background: linear-gradient(to right, #0f9bc7, #0df5e6) !important;
}

.video-container {
  position: absolute;
  right: 0;
  min-width: 100%;
  min-height: 20rem;
  width: auto;
  z-index: -100;
  overflow: hidden;
}

#video {
  position: absolute;
  z-index: 0;
  background-size: 100% 100%;
  top: 0;
  left: 0; /* fixed to left. Replace it by right if you want.*/
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.cover-color {
  // background-color: rgba(50, 153, 204, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.cover-tint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

.display-3 {
  font-weight: 600;
}

.nav-item {
  &.active {
    font-weight: 600;
  }
  &:hover,
  &.active  {
    border-bottom: 2px solid white;
    margin-bottom: -8px;
    a {
      padding-bottom: 0.7rem;
      vertical-align: middle;
    }
  }
}

.nav-link {
  font-size: 18px;
}

.navbar-light {
  .nav-item {
    &:hover,
    &.active {
      border-bottom: 2px solid black;
    }
  }
}

.navbar-dark {
  background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)) !important;
  .nav-link {
    color: white !important;
  }
}

.nav-icon {
  margin-right: 0.5rem;
  margin-top: 0.1rem;
  color: #3299CC;
  display: inline-block;
  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}
strong {
  font-weight: bold !important;
}

.header-dot {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background-color: #0f9bc7;
}

.marinascom {
  position: absolute;
  right: 1rem;
  bottom: 0.75rem;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }
}
